<div class="container">
  <div class="dev">
    <img src="../img/Box-de-CrossFit.jpg" alt="">
    <h1>Crossfit</h1>
    <h3>O Crossfit reúne técnicas de diversas modalidades em um único treino, o que o torna um dos esportes mais completos da atualidade.</h3>
    <button ></button>
  </div>
  <div class="dev">
      <img src="../img/Box-de-CrossFit.jpg" alt="">
      <h1>Zumba</h1>
      <h3>O Crossfit reúne técnicas de diversas modalidades em um único treino, o que o torna um dos esportes mais completos da atualidade.</h3>
      <button ></button>
    </div>
    <div class="dev">
        <img src="../img/Box-de-CrossFit.jpg" alt="">
        <h1>Crossfit</h1>
        <h3>O Crossfit reúne técnicas de diversas modalidades em um único treino, o que o torna um dos esportes mais completos da atualidade.</h3>
        <button ></button>
      </div>
      <div class="dev">
          <img src="../img/Box-de-CrossFit.jpg" alt="">
          <h1>Crossfit</h1>
          <h3>O Crossfit reúne técnicas de diversas modalidades em um único treino, o que o torna um dos esportes mais completos da atualidade.</h3>
          <button ></button>
        </div>

</div>
