<div class="container">
  <div class="row box-cadastro">
      <table class="table table-striped" style='text-align: center'>
          <thead>
            <tr class="table-warning">
              <th scope="col">Horário</th>
              <th scope="col">Segunda</th>
              <th scope="col">Terça</th>
              <th scope="col">Quarta</th>
              <th scope="col">Quinta</th>
              <th scope="col">Sexta</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">07:00</th>
              <td>Marcos Rocha</td>
              <td>Ana Paula</td>
              <td>Marcos Rocha</td>
              <td>Marcos Rocha</td>
              <td>Ana Paula</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">08:00</th>
                <td>Marcos Rocha</td>
                <td>Ana Paula</td>
                <td>Marcos Rocha</td>
                <td>Marcos Rocha</td>
                <td>Ana Paula</td>
            </tr>
            <tr>
                <th scope="row">09:00</th>
                <td>Ana Paula</td>
                <td>Marcos Rocha</td>
                <td>Ana Paula</td>
                <td>Ana Paula</td>
                <td>Marcos Rocha</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">10:00</th>
                <td>Ana Paula</td>
                <td>Marcos Rocha</td>
                <td>Ana Paula</td>
                <td>Ana Paula</td>
                <td>Marcos Rocha</td>
            </tr>
            <tr>
                <th scope="row">17:00</th>
                <td>Gledson</td>
                <td>Rogério</td>
                <td>Gledson</td>
                <td>Gledson</td>
                <td>Rogério</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">18:00</th>
                <td>Gledson</td>
                <td>Rogério</td>
                <td>Gledson</td>
                <td>Gledson</td>
                <td>Rogério</td>
            </tr>
            <tr>
                <th scope="row">19:00</th>
                <td>Rogério</td>
                <td>Gledson</td>
                <td>Rogério</td>
                <td>Rogério</td>
                <td>Gledson</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">19:00</th>
                <td>Rogério</td>
                <td>Gledson</td>
                <td>Rogério</td>
                <td>Rogério</td>
                <td>Gledson</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
